.footer {
  flex: 0 0 6rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1rem;
  color: #9297A0;

  @media (min-width: 768px) {
    flex: 0 0 6rem;
    padding: 0 5rem;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 0;
  }
}